name: Python tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: weather_user
          POSTGRES_PASSWORD: 0000
          POSTGRES_DB: weather_data
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U weather_user -d weather_data"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install pytest
      - name: Run tests
        env:
          DB_NAME: weather_data
          DB_USER: weather_user
          DB_PASS: 0000
          DB_HOST: postgress
          DB_PORT: 5432
        run: pytest -q

