name: Python Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: weather_user
          POSTGRES_PASSWORD: 0000
          POSTGRES_DB: weather_data
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U weather_user -d weather_data"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    env:
      DB_NAME: weather_data
      DB_USER: weather_user
      DB_PASS: 0000
      DB_HOST: postgres
      DB_PORT: 5432

    steps:
      - uses: actions/checkout@v4

      - name: Map postgres hostname manually
        run: echo "127.0.0.1 postgres" | sudo tee -a /etc/hosts

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -e .
          pip install pytest psycopg requests

      - name: Wait for PostgreSQL to be ready
        run: |
          for i in {1..10}; do
            pg_isready -h postgres -U weather_user -d weather_data && echo "Postgres ready" && break
            echo "Waiting for Postgres..."
            sleep 2
          done

      - name: Run tests
        env:
          WEATHER_API_KEY: $
{{ secrets.WEATHER_API_KEY }}
        run: |
          source venv/bin/activate
          pytest -q
